<!--
  Generated template for the IndividualFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ formData.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="point.name !== null">
    <h1>
      Lugar: {{ point.name }}
    </h1>
  </div>
  <div *ngFor="let section of formSections; let i = index">
    <h1>
      {{ section.name }}
    </h1>
    <h2>
      {{ section.description }}
    </h2>
    <ion-list no-lines>
      <div>
        <form [formGroup]="formSectionsControllers[i].controller">
          <div *ngFor="let input of section.inputs; let n = index">
            <!-- <div>{{ formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].status }}</div> -->
            <ion-item outline *ngIf="input.inputType === 'text'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-input [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" type="text" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt"></ion-input>
            </ion-item>
            <ion-item outline *ngIf="input.inputType === 'textarea'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-textarea [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" type="text" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt"></ion-textarea>
            </ion-item>
            <ion-item outline *ngIf="input.inputType === 'e-mail'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-input [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" type="email" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt"></ion-input>
            </ion-item>
            <ion-item outline *ngIf="input.inputType === 'number' || input.inputType === 'money'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-input [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" [min]="input.minValue" [max]="input.maxValue" type="number" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt"></ion-input>
            </ion-item>
            <ion-item outline *ngIf="input.inputType === 'cellphone'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-input [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" type="tel" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt"></ion-input>
            </ion-item>
            <ion-item style="border-bottom: 1px solid lightgrey;" outline *ngIf="input.inputType === 'date'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-datetime [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt" displayFormat="MM/DD/YYYY"></ion-datetime>
            </ion-item>
            <ion-item style="border-bottom: 1px solid grey;" outline *ngIf="input.inputType === 'date-hour'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-datetime [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt" displayFormat="MM/DD/YYYY HH:mm"></ion-datetime>
            </ion-item>
            <ion-item style="border-bottom: 1px solid grey;" outline *ngIf="input.inputType === 'hour'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-datetime [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt" displayFormat="HH:mm"></ion-datetime>
            </ion-item>
            <ion-item style="border-bottom: 1px solid grey;" outline *ngIf="input.inputType === 'only-one' || input.inputType === 'multiple'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-select [multiple]="input.inputType === 'multiple'" [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" type="text" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt">
                <ion-option *ngFor="let value of input.values" [value]="value.key">{{ value.value }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item style="border-bottom: 1px solid grey;" outline *ngIf="input.inputType === 'yes-no'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-select [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" type="text" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt">
                <ion-option value="yes">{{ input.yesText }}</ion-option>
                <ion-option value="no">{{ input.noText }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item style="border-bottom: 1px solid grey;" outline *ngIf="input.inputType === 'gender'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-select [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" type="text" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt">
                <ion-option value="male">Masculino</ion-option>
                <ion-option value="female">Femenino</ion-option>
              </ion-select>
            </ion-item>
            <ion-item style="border-bottom: 1px solid grey;" outline *ngIf="input.inputType === 'ranking'">
              <ion-label *ngIf="!input.isRequired">{{ input.label }}: {{ formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].value }}</ion-label>
              <ion-label *ngIf="input.isRequired">{{ input.label }} *: {{ formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].value }}</ion-label>
              <ion-range [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt" [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" [min]="input.minStep" [max]="input.maxStep" [step]="input.stepValue">
                <ion-label range-left>{{ input.minStep }}</ion-label>
                <ion-label range-right>{{ input.maxStep }}</ion-label>
              </ion-range>
            </ion-item>
            <div *ngIf="input.inputType === 'address'">
                <ion-grid [class.invalid]="input.invalid">
                  <p *ngIf="!input.isRequired">{{ input.label }}</p>
                  <p *ngIf="input.isRequired">{{ input.label }} *</p>
                  <ion-row>
                    <ion-col>
                      <ion-item no-lines>
                        <ion-label fixed>Vía principal</ion-label>
                        <ion-select interface="popover">
                          <ion-option (ionSelect)='setStreet(input, $event, "street_name")' *ngFor="let street of streets" [value]="street">{{ street }}</ion-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-input pattern="^[0-9]*([a-z]|)$" placeholder="123a" (ionChange)='setStreet(input, $event, "street")'></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-label>#</ion-label>
                        <ion-input pattern="^[0-9]*([a-z]|)$" placeholder="123" (ionChange)='setStreet(input, $event, "number1")'></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col col-2>
                      <ion-item no-lines>
                        -
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input pattern="^[0-9]*([a-z]|)$" placeholder="123" (ionChange)='setStreet(input, $event, "number2")'></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <p>
                    Direccion: {{ input.answer }}
                  </p>
                </ion-grid>
              </div>
            <ion-item style="border-bottom: 1px solid grey;" outline *ngIf="input.inputType === 'photo'">
              <div [class.invalid]="input.invalid">
                <p *ngIf="!input.isRequired">{{ input.label }}</p>
                <p *ngIf="input.isRequired">{{ input.label }} *</p>
                <div *ngIf="input.answer !== '' && input.answer !== null && input.answer !== undefined">
                  <img [src]="DomSanitizer.bypassSecurityTrustUrl(input.answer)"/>
                </div>
                <p>
                  <button *ngIf="input.photoSource === 'camera' || input.photoSource === 'both'" ion-button (click)="cameraButton(input, 1)">Cam</button>
                  <button *ngIf="input.photoSource === 'gallery' || input.photoSource === 'both'" ion-button (click)="cameraButton(input, 0)">Gallery</button>
                </p>
              </div>
            </ion-item>
            <ion-item outline *ngIf="input.inputType === 'geolocation'">
              <ion-label *ngIf="!input.isRequired" floating>{{ input.label }}</ion-label>
              <ion-label *ngIf="input.isRequired" floating>{{ input.label }} * </ion-label>
              <ion-input [readonly]="!input.editableLocation" [formControlName]="'control' + formSectionsControllers[i].inputs[n].id" type="text" [class.invalid]="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formSectionsControllers[i].controller.controls['control' + formSectionsControllers[i].inputs[n].id].valid && submitAttempt || input.invalid">
                <p>Please enter a valid value.</p>
                <p>Help: {{ input.help }}</p>
            </ion-item>
          </div>
        </form>
      </div>
    </ion-list>
  </div>
  <div style="padding-top: 18%; visibility: hidden;">
  </div>
  <ion-fab bottom left>
    <button ion-fab (click)="save()">Send</button>
  </ion-fab>
</ion-content>
