<ion-header>
  <ion-navbar>
    <ion-title>
      APP seguimiento
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    {{ this.http.error_message }}
  </p>
  <ion-list *ngIf="(!this.global.logedIn) && this.http.token_ready">
    <ion-item>
      <ion-label color="primary" floating>E-mail</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <p>
      <button ion-button (click)="loginRequest()">Login</button>
    </p>
  </ion-list>
  <div *ngIf="(this.global.logedIn) && this.http.token_ready">
    <h1>Bienvenido!</h1>
    <p *ngIf="global.coordinates !== undefined">
      Coordenadas: {{global.coordinates.latitude + " , " + global.coordinates.longitude}}
    </p>
    <p>
      Operating system: {{ global.operating_system }}
    </p>
    <p>
      Serial: {{ global.serial }}
    </p>
    <p>
      Date: {{ global.date }}
    </p>
    <p>
      Battery: {{ global.batterylevel }}
    </p>
  </div>
</ion-content>
